*{
    margin: 0;
}

html {
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: center;
    background-color: black;
}

body{
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F9;
    border-radius: 10px;
}